div(layout='row', layout-align='start center')
   div(layout='row', layout-align='start center', flex='')
      md-button#navigation-toggle.md-icon-button(type='button', ng-click="vm.toggleSidenav('navigation')", hide-gt-sm='', aria-label='Toggle navigation')
         md-icon.icon(md-svg-icon='menu', role='img', aria-hidden='true')
      .toolbar-separator
   div(layout='row', layout-align='start center')
      md-progress-circular#toolbar-progress.md-accent.ng-isolate-scope(ng-disabled='!$root.loadingProgress', md-diameter='32', aria-valuemin='0', aria-valuemax='100', role='progressbar', md-mode='indeterminate', aria-disabled='true', style='width: 32px; height: 32px;')
      md-menu-bar#user-menu(role='menubar')
         md-menu(md-position-mode='left bottom')
            md-button.user-button(ng-click='$mdOpenMenu()', aria-label='User settings')
               div(layout='row', layout-align='space-between center')
                  .avatar-wrapper
                     img.avatar(md-menu-align-target='', src='images/avatars/profile.jpg')
                     md-icon.icon.status.s16(md-svg-icon='', ng-class='vm.userStatus.icon', ng-style="{'color': vm.userStatus.color }", role='img', aria-hidden='true', style='color: rgb(76, 175, 80);')
                  span.username(hide='', show-gt-sm='') John Doe
                  md-icon.icon.s16(md-svg-icon='chevron-down', hide-xs='', role='img', aria-hidden='true')
            md-menu-content(width="3")
               md-menu-item.md-indent(ui-sref='app.pages_profile')
                  md-icon(md-svg-icon='account', role='img', aria-label='icon-account')
                  md-button(role='menuitem') My Profile
               md-menu-item.md-indent(ui-sref='app.mail')
                  md-icon(md-svg-icon='email', role='img', aria-label='icon-email')
                  md-button(role='menuitem') Inbox
               md-menu-divider(role='separator')
               md-menu-item.md-indent
                  md-icon(md-svg-icon='logout', role='img', aria-label='icon-logout')
                  md-button(ng-click='vm.logout()', role='menuitem') Logout