$toolbar_height = 64px

#toolbar
	height $toolbar_height
	min-height $toolbar_height
	max-height $toolbar_height
	z-index 55 !important

	.toolbar-separator
		height $toolbar_height
		width 1px
		background rgba(0,0,0,.12)

	#user-menu
		height $toolbar_height
		padding 0

		.user-button
			margin 0
			padding 0 16px
			height $toolbar_height
			text-transform none

			.avatar-wrapper
				position relative

				.avatar
					width 40px
					min-width 40px
					height 40px
					line-height 40px
					margin 0 8px 0 0
					border-radius 50%
					font-size 17px
					font-weight 500
					text-align center
					color #FFF
				img
					max-width 100%
					height auto
					vertical-align top
					border none

				.status
					position absolute
					bottom -3px
					right 5px

			.username
				margin 0 12px 0 8px