#layout-vertical-navigation.template-layout(layout='row', flex, style='overflow: visible;')
   // uiView: navigation
   md-sidenav#vertical-navigation.md-primary-bg(md-is-locked-open="$mdMedia('gt-sm')", md-component-id='navigation',
         ui-view='navigation', tabindex='-1', art-scroll="")

   #content-container(flex, layout='column')
      // uiView: toolbar
      md-toolbar#toolbar.md-menu-toolbar.md-whiteframe-1dp(ui-view='toolbar')

      // uiView: content
      md-content#content.animate-slide-up.md-hue-2(ui-view='content', flex)

   // uiView: quickPanel
   //md-sidenav#quick-panel.md-sidenav-right.md-whiteframe-4dp(md-component-id='quick-panel', ui-view='quickPanel', tabindex='-1')