extends ../.hide/layout-angularjs

append init
   - title = "Borrow.me Cabinet";
   - angularApp.theme = "default";
   - angularApp.bodyAttrs["ng-controller"] = "IndexCtrl as vm";
   - angularApp.bodyAttrs["ng-class"] = "state.current.bodyClass";

append links
   link(rel="stylesheet" href="/css/common.css")
   link(rel="stylesheet" href="/css/angular.bundle.css")

append content
   #main.animate-slide-up(ui-view='main', layout='column')

append scripts
   script(src="/cabinet/assets/angular/app.bundle.js")