#home.page-layout.carded(layout='row')
   .top-bg.md-accent-bg

   .center(layout='column', flex='')
      .header(layout='row', layout-align='start center')
         .search-wrapper.md-whiteframe-4dp(flex='', layout='row', layout-align='start center')
            .search(flex='', layout='row', layout-align='start center')
               md-icon.icon.s24(md-svg-icon='magnify', role='img', aria-label='icon-magnify')
               input(flex='', ng-model='vm.taskFilters.search', type='text', placeholder='Search for a task or tag')
      .content-card(layout='column', flex='')
         .toolbar(layout='row', layout-align='space-between center')