block init
	- var title = "Application";
	- var htmlAttrs = {};

doctype html
html&attributes(htmlAttrs)
	head
		title= title
		meta(charset="utf8")
		block metas
			meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		block links
		block scriptUpper
	block body