extends layout

append init
	- title = "AngularJS App";
	- var angularApp = { name: "app", withSocket: false, theme: null, bodyAttrs: {} };

append links
	link(rel="stylesheet" href="/css/libs/angular-csp.css")
	link(rel="stylesheet" href="/css/libs/angular-material.min.css")
	link(rel="stylesheet" href="/css/libs/angular-datatables.min.css")
	link(rel="stylesheet" href="/css/libs/perfect-scrollbar.min.css")
block body
	body(ng-app= angularApp.name md-theme= angularApp.theme ng-cloak)&attributes(angularApp.bodyAttrs)
		art-splash-screen#splash-screen
			.center
				.logo
					span BM
				.spinner-wrapper
					.spinner
						.inner
							.gap
							.left
								.half-circle
							.right
								.half-circle
		block content
		block scripts
			script(src="/js/libs/jquery.min.js")
			script(src="/js/libs/jquery.dataTables.min.js")
			script(src="/js/libs/mobile-detect.min.js")
			script(src="/js/libs/perfect-scrollbar.min.js")
			script(src="/js/libs/moment.min.js")
			script(src="/js/libs/angular.core.js")
			if angularApp.withSocket
				script(src="/js/libs/socket.io.min.js")
			script(src="/angular/art.bundle.js")
			script(src="/angular/app.core.bundle.js")