.ui-view-login.flex-scrollable(layout="column", art-scroll="")
   .login-form-wrapper(layout="column", layout-align="center center")
      .login-form.md-whiteframe-8dp

         .logo.md-accent-bg: span BM

         .title Log in to your account

         form(name="loginForm")
            md-input-container.md-block(md-no-float="")
               input(type="email", name="email", ng-model="vm.credentials.email", ng-pattern='/^.+@.+\..+/', placeholder="Email", required)
               div(ng-messages="loginForm.email.$error", role="alert")
                  div(ng-message="required") Email field is required
                  div(ng-message="pattern") Email must be a valid e-mail address
            md-input-container.md-block(md-no-float="")
               input(type="password", name="password", ng-model="vm.credentials.password", placeholder="Password", required)
               div(ng-messages="loginForm.password.$error", role="alert")
                  div(ng-message="required") Password field is required

            .remember-forgot-password(layout="row", layout-xs="column", layout-align="space-between center")
               md-checkbox.remember-me(ng-model="vm.credentials.rememberMe", aria-label="Remember Me") Remember Me
               a.forgot-password.md-accent-color(ui-sref="app.auth_forgot_password") Forgot Password?

            md-button.md-raised.md-accent.submit-button(type="submit", aria-label="LOG IN",
            ng-disabled="loginForm.$invalid || loginForm.$pristine" ng-click="vm.login()") LOG IN

         .separator: span.text OR

         md-button.md-raised.google(type="button" ng-disabled="true")
            div(layout="row", layout-align="center center")
               span
                  md-icon.s16.md-font.material-icons.icons-google-plus(md-svg-icon="google-plus", role="img",
                  aria-label="icon-google-plus")
                  span Log in with Google
         md-button.md-raised.facebook(type="button" ng-disabled="true")
            div(layout="row", layout-align="center center")
               span
                  md-icon.s16.md-font.material-icons.icons-facebook-plus(md-svg-icon="facebook", role="img",
                  aria-label="icon-google-plus")
                  span Log in with Facebook

         .register(layout="row", layout-sm="column", layout-align="center center")
            span.text Don't have an account?
            a.link.md-default-theme(ui-sref="app.auth_register") Create an account