@import "../../common/layout.styl";

.ui-view-login
	getUiView()

	.login-form-wrapper
		getFormWrapper()

		.login-form
			width 384px
			max-width 384px
			padding 32px
			background #FFF
			text-align center

			.logo
				background-color rgb(3,155,229)
				width 128px
				height 128px
				line-height 128px
				font-size 76px
				font-weight 500
				margin 32px auto
				color #FFF
				border-radius 2px

			.title
				font-size 17px
				margin 16px 0 32px

			form
				width 100%
				text-align left

				.remember-forgot-password
					font-size 13px
					margin-top 8px

					.remember-me
						margin 0
						margin-bottom 16px
					.forgot-password
						font-size 13px
						font-weight 500
						margin-bottom 16px

				.submit-button
					width 220px
					margin 16px auto
					display block

			.separator
				font-size 15px
				font-weight 600
				margin 24px auto 16px
				position relative
				overflow hidden
				width 100px
				color rgba(0,0,0,.54)

				.text
					display inline-block
					vertical-align baseline
					position relative
					padding 0 8px
					z-index 9999

					&:before
					&:after
						content ''
						display block
						width 30px
						position absolute
						top 10px
						border-top 1px solid rgba(0,0,0,.12)

					&:before
						right 100%
					&:after
						left 100%

			.md-button

				&.google
				&.facebook
					width 192px
					text-transform none
					color #FFF
					font-size 13px

					&[disabled]
						color #CCC
						md-icon
							color #CCC

					md-icon
						color #FFF
						margin 0 8px 0 0

				&.google
					background-color #D73D32
					&[disabled]
						background-color #a52f29
				&.facebook
					background-color #3f5c9a
					&[disabled]
						background-color #304271

			.register
				margin 32px auto 24px
				width 250px
				font-weight 500

				.text
					margin-right 8px