extends ./.hide/layout-angularjs

append init
   - title = "Borrow.me";
   - angularApp.theme = "default";

append links
   link(rel="stylesheet" href="/css/common.css")
   link(rel="stylesheet" href="/css/angular.bundle.css")

append content
   #main.animate-slide-up(ui-view='main', layout='column')

append scripts
   script(src="/angular/app.login.bundle.js")