.ui-view-forgot-password.flex-scrollable(layout="column", art-scroll="")
	.forgot-password-form-wrapper(layout='column', layout-align='center center')
		.forgot-password-form.md-whiteframe-8dp

			.logo.md-accent-bg: span BM

			.title.ng-scope() Recover your password

			form(name='forgotPasswordForm', novalidate)
				md-input-container.md-block(md-no-float)
					input(type='email', name='email', ng-model='vm.form.email', placeholder='Email address',
							ng-pattern='/^.+@.+\..+$/', required, aria-label='Email address')
					div(ng-messages="forgotPasswordForm.username.$error")
						div(ng-message="required") Email field is required
				md-button.md-raised.md-accent.submit-button(type='submit', aria-label='SEND RESET LINK',
						ng-disabled='forgotPasswordForm.$invalid || forgotPasswordForm.$pristine') SEND RESET LINK
			.login(layout='row', layout-align='center center')
				a.link.ng-scope.md-default-theme(ui-sref='app.auth_login') Go back to login