.ui-view-register.flex-scrollable(layout="column", art-scroll="")
	.register-form-wrapper(layout='column', layout-align='center center')
		.register-form.md-whiteframe-8dp

			.logo.md-accent-bg: span BM

			.title.ng-scope() Create an account

			form(name='registerForm', novalidate='')
				md-input-container.md-block(md-no-float="")
					input(type='email', name='email', ng-model='vm.credentials.email', placeholder='Email', ng-pattern='/^.+@.+\..+$/',
					required, aria-label='Email')
					div(ng-messages="registerForm.email.$error")
						div(ng-message="required") Email field is required
						div(ng-message="pattern") Email must be a valid e-mail address

				md-input-container.md-block(md-no-float="")
					input(name='fullname', ng-model='vm.credentials.fullname', placeholder='Full name', required, aria-label='Full name')
					div(ng-messages="registerForm.fullname.$error")
						div(ng-message="required") Full name field is required

				md-input-container.md-block(md-no-float="")
					input(type='password', name='password', ng-model='vm.credentials.password', placeholder='Password', required,
							aria-label='Password')
					div(ng-messages="registerForm.password.$error")
						div(ng-message="required") Password field is required
				md-input-container.md-block(md-no-float="")
					input(type='password', name='passwordConfirm', ng-model='vm.credentials.passwordConfirm',
							placeholder='Password (Confirm)', required, aria-label='Password (Confirm)')
					div(ng-messages="registerForm.passwordConfirm.$error")
						div(ng-message="required") Password confirm field is required

				.terms(layout='row', layout-align='center center')
					md-checkbox(name='terms', ng-model='data.cb1', aria-label='I read and accept', required)
					div(layout='row', layout-sm='column', layout-align='start center')
						span.ng-scope() I read and accept
						a.md-accent-color.ng-scope.md-default-theme(href='#') terms and conditions

				md-button.md-raised.md-accent.submit-button.md-ink-ripple(type='submit', aria-label='CREATE MY ACCOUNT',
						ng-disabled='registerForm.$invalid || registerForm.$pristine', ng-click="vm.register()") CREATE MY ACCOUNT

			.login(layout='row', layout-xs='column', layout-align='center center')
				span.text.ng-scope() Already have an account?
				a.link.ng-scope.md-default-theme(ui-sref='app.auth_login') Log in