@import "../../common/layout.styl";

.ui-view-register
	getUiView()

	.register-form-wrapper
		getFormWrapper()

		.register-form
			width 384px
			max-width 384px
			padding 32px
			background #FFF
			text-align center

			.logo
				background-color rgb(3,155,229)
				width 128px
				height 128px
				line-height 128px
				font-size 76px
				font-weight 500
				margin 32px auto
				color #FFF
				border-radius 2px

			.title
				font-size 17px
				margin 16px 0 32px

			form
				width 100%
				text-align left

				.terms
					font-size 13px
					margin 16px 0 32px

					a
						margin-left 4px

				md-checkbox
					margin 0

				.submit-button
					width 220px
					margin 16px auto
					display block

			.login
				margin 32px auto 24px
				width 250px
				font-weight 500

				.text
					margin-right 8px