extends ../.hide/layout-angularjs

append init
   - title = "Borrow.me Admin";
   - angularApp.theme = "default";
   - angularApp.bodyAttrs["ng-controller"] = "IndexCtrl as vm";
   - angularApp.bodyAttrs["ng-class"] = "state.current.bodyClass";

append links
   link(rel="stylesheet" href="/css/common.css")
   link(rel="stylesheet" href="/css/angular.bundle.css")

append content
   #main.animate-slide-up(ui-view='main', layout='column')

append scripts
   script(src="/js/libs/d3.min.js")
   script(src="/js/libs/nv.d3.min.js")
   script(src="/js/libs/angular-nvd3.min.js")
   script(src="/admin/assets/angular/app.bundle.js")