*
	text-rendering optimizeLegibility
	-o-text-rendering optimizeLegibility
	-ms-text-rendering optimizeLegibility
	-moz-text-rendering optimizeLegibility
	-webkit-text-rendering optimizeLegibility
	-webkit-tap-highlight-color transparent

*
:after
:before
div.dtr-modal
	box-sizing: border-box

html
	font-size 62.5%
	font-family Roboto,"Helvetica Neue",Arial,sans-serif
	line-height 1.4
	letter-spacing -.1px

html
body
	overflow hidden!important
	height 100%
	position relative
	-webkit-touch-callout none
	min-height 100%
	-webkit-text-size-adjust 100%
	-ms-text-size-adjust 100%
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

body
	font-size 1.3rem

form
	font-size 1.6rem

img
	max-width 100%
	height auto
	vertical-align top
	border none

a
	text-decoration none
	&:active
	&:hover
		text-decoration underline

input
img
md-icon
	outline none

@import "themes/default.styl"

md-menu-bar
md-menu-bar .md-menu
md-menu-content.md-menu-bar-menu.md-dense md-menu-item.md-indent
	position relative

md-menu-content.md-menu-bar-menu.md-dense .md-button
md-menu-content.md-menu-bar-menu.md-dense md-menu-item
	height 40px
	line-height 40px

md-menu-content.md-menu-bar-menu.md-dense
	padding 8px 0

md-menu-content.md-menu-bar-menu.md-dense .md-button.md-indent>md-icon
md-menu-content.md-menu-bar-menu.md-dense md-menu-item.md-indent>md-icon
	top 8px

[layout]>*
	min-height auto
	min-height initial

#layout-horizontal-navigation
#layout-vertical-navigation
#layout-vertical-navigation-fullwidth-toolbar
#layout-vertical-navigation-fullwidth-toolbar-2
	height 100%
	max-height 100%

#layout-content-only #content
#layout-horizontal-navigation #content-container #content
#layout-vertical-navigation-fullwidth-toolbar #main-container #content-container #content
#layout-vertical-navigation-fullwidth-toolbar-2 #main-container #content-container #content
#main
	top 0
	position absolute
	bottom 0
	right 0
	left 0
	overflow hidden

#layout-content-with-toolbar #content
#layout-vertical-navigation #content-container #content
	position absolute
	top 64px
	right 0
	bottom 0
	left 0

#layout-horizontal-navigation #content-container
#layout-vertical-navigation #content-container
#layout-vertical-navigation-fullwidth-toolbar #main-container #content-container
#layout-vertical-navigation-fullwidth-toolbar-2 #main-container #content-container
.page-layout
	position relative
	overflow hidden

@media only screen and (min-width: 960px)
	.art-navigation-folded
		#content-container
			margin-left 64px

@import "page-layout.styl"

.animate-fade-in-out
.animate-slide-down
.animate-slide-left
.animate-slide-right
.animate-slide-up
	-webkit-perspective 1000px
	transition-duration .4s
	transition-timing-function cubic-bezier(.25,.46,.45,.94)
	-webkit-backface-visibility hidden

.animate-slide-up
	transition-property: none;
	opacity: 1;

	&.ng-enter
		transform translateY(100%)
		opacity 0
		&.ng-enter-active
			transition-property all
			transform translateY(0)
			opacity 1

	&.ng-leave
		transform translateY(0)
		opacity 1
		&.ng-leave-active
			transition-property all
			transform translateY(-100%)
			opacity 0

.avatar
	width 40px
	min-width 40px
	height 40px
	line-height 40px
	margin 0 8px 0 0
	border-radius 50%
	font-size 17px
	font-weight 500
	text-align center
	color #FFF

.green-fg
	color #4CAF50!important
	fill #4CAF50!important
.orange-fg
	color #FFA500!important
	fill #FFA500!important
.yellow-fg
	color #FFEB3B!important
	fill #FFEB3B!important
.red-fg
	color #F44336!important
	fill #F44336!important

@import "icons.styl"
@import "perfect-scrollbar.styl"