getMdIconSize(size, isImportant = true)
	importantString = isImportant ? !important : unquote("")

	font-size unit(size, 'px') importantString
	width unit(size, 'px') importantString
	height unit(size, 'px') importantString
	min-width unit(size, 'px') importantString
	min-height unit(size, 'px') importantString
	line-height unit(size, 'px') importantString

[class*=" icon-"]
[class^=icon-]
	font-family icomoon
	speak none
	font-style normal
	font-weight 400
	font-variant normal
	text-transform none
	line-height 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing grayscale

i
md-icon[md-svg-icon]
	getMdIconSize(24, false)
	&.s128
		getMdIconSize(128)
	&.s36
		getMdIconSize(36)
	&.s18
		getMdIconSize(18)
	&.s16
		getMdIconSize(16)