$sidenav_width = 240px

.page-layout

	@import "page-layout/carded.styl"
	@import "page-layout/simple.styl"
	@import "page-layout/blank.styl"

	.top-bg
		position absolute
		z-index 1
		top 0
		right 0
		left 0
		height 200px
		background-image url(../images/backgrounds/header-bg.png)
		background-size cover