#users.page-layout.carded.left-sidenav(layout='row')
   .top-bg.md-accent-bg

   md-sidenav.sidenav(md-is-locked-open="$mdMedia('gt-md')", md-component-id='main-sidenav')
      .header(layout='column', layout-align='space-between')
         .logo(layout='row', layout-align='start center')
            span.logo-icon
               md-icon.s24(md-svg-icon='account-multiple')
            span.logo-text Users
      md-content.content(flex='')
         .add-task-button
            button.md-accent.md-raised.md-button.ng-scope.md-default-theme.md-ink-ripple(type='button', ng-click='vm.openNewUserDialog($event)', aria-label='ADD NEW USER') ADD NEW
         .navigation-simple(layout='column')

   .center(layout='column', flex='')
      .header(layout='row', layout-align='start center')
         .search-wrapper.md-whiteframe-4dp(flex='', layout='row', layout-align='start center')
            md-button.md-icon-button.sidenav-toggle(ng-click="vm.toggleSidenav('main-sidenav')", hide-gt-md='',
            aria-label='Toggle sidenav')
               md-icon.icon(md-svg-icon='menu', role='img', aria-hidden='true')
            .search(flex='', layout='row', layout-align='start center')
               md-icon.icon.s24(md-svg-icon='magnify', role='img', aria-label='icon-magnify')
               input(flex='', ng-model='vm.taskFilters.search', type='text', placeholder='Search for a task or tag')
      .content-card(layout='column', flex='')
         .toolbar(layout='row', layout-align='space-between center')