.page-layout.simple.fullwidth.doc-page(layout='column')
   .header.md-accent-bg(layout='column', layout-align='center start')
      .breadcrumb
         span.parent Custom Directives
      .title art-splash-screen
   .content(layout='column')
      .card.md-whiteframe-4dp(layout='column')
         hljs.source-code(language='html')
            art-splash-screen
               // Splash screen content
         span.h2.pt-16 Description:
         p
            b art-splash-screen
            | is a helper directive that helps splash screen to disappear.