&.carded
	min-height 100%
	height 100%

	&.fullwidth>.center .content-card
	&.left-sidenav>.sidenav
		box-shadow 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12)

	&.fullwidth
		&>.center
			position relative
			z-index 2
			margin-left 32px
			margin-right 32px

			.content-card
				background #FFF
				overflow hidden

	&.left-sidenav

		&>.sidenav
			width $sidenav_width
			min-width $sidenav_width
			max-width $sidenav_width
			z-index 51

			&.md-locked-open
				width 220px
				min-width 220px
				max-width 220px
				z-index 2
				background 0 0
				box-shadow none

				&+.center
					margin-left 0

			.header
				height 200px
				min-height 200px
				max-height 200px
				padding 24px

		&>.center
			position relative
			z-index 2
			margin-left 32px
			margin-right 32px