&.simple
	&.fullwidth
	&.inner-sidenav
		min-height 100%

		&>.header
			height 200px
			min-height 200px
			max-height 200px
			padding 24px
			background-image url(/assets/images/backgrounds/header-bg.png)
			background-size cover

		&>.content
		&>.content
			padding 24px

	&.left-sidenav
		min-height 100%
		height 100%

		.sidenav
			width $sidenav_width
			min-width $sidenav_width
			max-width $sidenav_width
			padding 24px
			z-index 51
			box-shadow 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12)

			&.md-locked-open
				width 220px
				min-width 220px
				max-width 220px
				z-index 2
				box-shadow none
				background 0 0
	