@media only screen and (min-width: 960px)

	.art-navigation-folded
		&.art-navigation-folded-open
			#vertical-navigation
				.navigation-header
					.fold-toggle
						transition opacity .3s ease-in-out .2s,-webkit-transform .3s ease-in-out .1s
						transition transform .3s ease-in-out .1s,opacity .3s ease-in-out .2s
						transition transform .3s ease-in-out .1s,opacity .3s ease-in-out .2s,-webkit-transform .3s ease-in-out .1s
						opacity 1

		#vertical-navigation
			position absolute

	body
		&.art-navigation-folded
			&:not(.art-navigation-folded-open)
				.art-navigation
					.art-navigation-node
						&.group
							&>.art-navigation-item
								.art-navigation-button
									&:before
										content ''
										display block
										position relative
										width 16px
										border-top 1px solid rgba(255,255,255,.12)

						.art-navigation-item
							.art-navigation-button
								.arrow
								.badge,
								.title
									opacity 0
									visibility hidden

				#art-navigation-fold-expander
					position absolute
					top 0
					right 0
					bottom 0
					left 0
					z-index 999

			#art-navigation-fold-collapser
				position absolute
				top 0
				right 0
				bottom 0
				left 0
				z-index 59

.art-navigation
art-nav
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none

.art-navigation
	display block
	position relative
	color rgba(255,255,255,.7)
	user-select none

	li
	ul
		padding 0
		margin 0

	ul
		display block
		overflow hidden

		li
			position relative

	.art-navigation-node
		&.group
			&>.art-navigation-item
				font-size 12px
				font-weight 500
				margin-top 8px
				cursor auto
				background 0 0!important
				text-transform uppercase
				white-space nowrap
				overflow hidden
				text-overflow ellipsis

				&>.art-navigation-button
					height 32px
					line-height 32px
					color rgba(255,255,255,.3)

		&:not(.collapsed)
			&>.art-navigation-item
				&>.art-navigation-button
					.arrow
						transform rotate(90deg)

		&:not(.group)
			&.has-children
				&.collapsing
				&:not(.collapsed)
					background-color rgba(0,0,0,.12)

		.art-navigation-item
			display block
			position relative
			cursor pointer
			color rgba(255,255,255,.7)

			&>.art-navigation-button
				display -webkit-box
				display -ms-flexbox
				display flex
				position relative
				width 100%
				height 48px
				line-height 48px
				-webkit-box-orient horizontal
				-webkit-box-direction normal
				-ms-flex-direction row
				flex-direction row
				-webkit-box-pack start
				-ms-flex-pack start
				justify-content flex-start
				-webkit-box-align center
				-ms-flex-align center
				align-items center
				padding-right 16px
				color rgba(255,255,255,.7)
				text-decoration none
				white-space nowrap
				overflow hidden

				&.active
					color #FFF
					md-icon
						color #FFF

				md-icon
					color rgba(255,255,255,.7)
					margin 0 16px 0 0

				a
				span
					white-space nowrap
					overflow hidden
					opacity 1
					transition opacity .25s ease-in-out .1s

				.arrow
					margin 0
					opacity 1
					transition opacity .25s ease-in-out .1s,-webkit-transform .3s ease-in-out
					transition transform .3s ease-in-out,opacity .25s ease-in-out .1s
					transition transform .3s ease-in-out,opacity .25s ease-in-out .1s,-webkit-transform .3s ease-in-out

				.badge
					position absolute
					top 50%
					right 16px
					min-width 20px
					height 20px
					line-height 20px
					padding 0 7px
					font-size 11px
					font-weight 700
					border-radius 20px
					transform translateY(-50%)
					transition opacity .2s ease-in-out .1s
	li
		&.group
			.art-navigation-button
			li .art-navigation-button
				padding-left 24px

			li
				li
					.art-navigation-button
						padding-left 56px
			li
				li
					li
						.art-navigation-button
							padding-left 72px

		.art-navigation-button
			padding-left 24px