ul
   li(ng-repeat='node in vm.navigation', art-navigation-node='node',
   ng-class="{'collapsed': vm.collapsed, 'has-children': vm.hasChildren}", ng-include="'navigation-nested.html'")
script(type='text/ng-template', id='navigation-nested.html').
   <div art-navigation-item layout="row" ng-if="!vm.isHidden()">
      <div class="art-navigation-button" ng-if="!node.uisref && node.title">
         <md-icon md-svg-icon="{{node.icon}}" class="s16" ng-if="node.icon"></md-icon>
         <span class="title" translate="{{node.translate}}" flex>{{node.title}}</span>
         <span class="badge white-fg" ng-style="{'background': node.badge.color}" ng-if="node.badge" ng-attr-title="{{node.badge.title}}">
            {{node.badge.content}}
         </span>
         <md-icon md-svg-icon="chevron-right" class="s16 arrow" ng-if="vm.collapsable && vm.hasChildren"></md-icon>
      </div>
      <a class="art-navigation-button" ui-sref="{{node.uisref}}" ui-sref-active="active md-accent-bg"
      ng-if="node.uisref && node.title">
         <md-icon md-svg-icon="{{node.icon}}" class="s16" ng-if="node.icon"></md-icon>
         <span class="title" translate="{{node.translate}}" flex>{{node.title}}</span>
         <span class="badge white-fg" ng-style="{'background': node.badge.color}" ng-if="node.badge" ng-attr-title="{{node.badge.title}}">
            {{node.badge.content}}
         </span>
         <md-icon md-svg-icon="chevron-right" class="s16 arrow" ng-if="vm.collapsable && vm.hasChildren"></md-icon>
      </a>
   </div>
   <ul ng-if="vm.hasChildren && !vm.isHidden()">
      <li ng-repeat="node in node.children" art-navigation-node="node"
      ng-class="{'collapsed': vm.collapsed, 'has-children': vm.hasChildren}" ng-include="'navigation-nested.html'"></li>
   </ul>