@media only screen and (min-width: 960px)

	.art-navigation-folded
		&:not(.art-navigation-folded-open)
			#vertical-navigation
				position absolute
				width 64px
				min-width 64px
				max-width 64px

				.navigation-header
					padding 0 16px

					.logo-text
						display none

		#vertical-navigation
			.navigation-header
				.fold-toggle
					transform rotate(180deg)
					opacity 0

#vertical-navigation
	background-color rgb(45,50,62)
	color rgba(255,255,255,1)
	width 240px
	min-width 240px
	max-width 240px
	overflow-x hidden
	transition all .3s cubic-bezier(.55,0,.55,.2),width .1s linear,min-width .1s linear,max-width .1s linear
	box-shadow 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12)

	&:not(._md-locked-open)
		box-shadow 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)

	.navigation-header
		height 64px
		min-height 64px
		background-color rgba(255,255,255,.05)
		padding 0 16px 0 24px


		.logo
			.logo-image
				display block
				background #039BE5
				width 32px
				min-width 32px
				height 32px
				line-height 32px
				text-align center
				font-size 16px
				font-weight 500
				color #FFF
				border-radius 2px
			.logo-text
				color #FFF
				margin-left 16px
				font-size 16px

		.fold-toggle
			transition transform .3s ease-in-out .1s
			transform rotate(0)
			margin 0
			padding 8px
			width 34px !important
			height 34px !important
			cursor pointer