md-toolbar.navigation-header.md-whiteframe-1dp(layout='row', layout-align='space-between center')
   .logo(layout='row', layout-align='start center')
      span.logo-image BM
      span.logo-text ADMIN
   md-icon.fold-toggle.s18(md-svg-icon="backburger", hide, show-gt-sm, ng-click='vm.toggleArtNavigationFolded()',
   aria-label='icon-backburger')
art-navigation.scrollable(folded="vm.folded", ms-scroll="vm.artScrollOptions")